extends ../../layout

block content
  .page-header
    h3 Categories
    hr
    .row
      .col-lg-12
          table.table.table-hover.table-bordered.sortable
            thead
              tr
                th Name
                th Created
                th Actions

            each category, i in categories
              tr
                td #{category.name}
                td #{category.createdAt.toLocaleDateString()} #{category.createdAt.toLocaleTimeString()}
                td 
                  a(href='/admin/categories/'+ category._id +'/delete') Drop 
            
    .row
      .col-md-6
        a.btn.btn-raised(href='/admin/categories/new', role='button') Add new 