extends ../../layout

block content
  .page-header
    h3 Add category
  form.form-horizontal(id='user-role-form', method='POST', action='/admin/categories')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value=id)
    .form-group
      label.col-sm-3.control-label(for='name') Nazwa
      .col-sm-7
        input.form-control(type='text', name='name', id='name', autofocus, required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fas.fa-plus
          | Add new 