footer
  .container.text-center
    p.float-left © 2018 Expense Manager. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://gitlab.com/smartdom/expense-manager') Source code
      li.list-inline-item
        a(href='https://gitlab.com/smartdom/expense-manager/issues') Issues
