.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      i.fas.fa-hand-holding-usd
      | ExpenseManager
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title === 'Expenses') ? 'active' : undefined)
          a.nav-link(href='/lists') Expenses
        li.nav-item(class=(title === 'Analytics') ? 'active' : undefined)
          a.nav-link(href='/analytics') Analytics
        li.nav-item(class=(title === 'Status') ? 'active' : undefined)
          a.nav-link(href='/status') Status
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          if env.REGISTRATION_ENABLED==1
            li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
              a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
          if user.roles.indexOf('administrator') > -1
            li.dropdown(class=(title === 'Admin') ? 'active' : undefined).nav-item
              a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
                i.fas.fa-unlock
                span
                  | Admin
                i.caret
              ul.dropdown-menu
                li.dropdown-item
                  a(href='/admin/users') Users
                li.divider.dropdown-item
                li.dropdown-item
                  a(href='/admin/categories') Categories

