extends ../layout



block content
  - var url = ""

  if expense
    - url = `/lists/${listId}/expenses/${expense._id}`
  else 
    - url = `/lists/${listId}/expenses`
  .page-header
    h3 #{title}
  form.form-horizontal(id='user-role-form', method='POST', action=url, enctype='multipart/form-data')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value=id)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value=(expense == undefined) ? '' : expense.name autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='amount') Amount
      .col-sm-7
        input.form-control(type='text', name='amount', id='amount', value=(expense == undefined) ? '' : expense.amount, autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='category') Category
      .col-sm-7
        select#category(name='category')
          each category, i in categories
            if expense && category.name == expense.category
              option(value=category.name, selected) #{category.name}
            else 
              option(value=category.name) #{category.name}
    .form-group
      label(for='receipt') Attach receipt
      input#recipt.form-control-file(name='receipt', type='file')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fas.fa-plus
          | Add
