extends ../../layout

block content
  .page-header
    h3 Basic analytics
    .row
      .col-lg-12
        div !{bargraph}
    .row
      .col-md-6
        each record in data
          p #{record._id} #{record.amount} 



