extends ../../layout

block content
  .page-header
    h3 Share list
  form.form-horizontal(id='user-role-form', method='POST', action=`/lists/${listId}/collaborators`)
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value=id)
    .form-group
      .col-sm-offset-3.col-sm-7
        label.col-sm-3.control-label(for='users') Users
        select#users.form-control(multiple, required,name='users')
          each user, i in users
            option(value=user._id) #{user.email}
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fas.fa-user-plus
          | Share 


