extends ../../layout

block content
  .page-header
    h3 #{data.name}
    .row
      .col-md-6
        span
          b
            | owned by:           
        span= data.owner.profile.name || data.owner.email || data.owner.id
      .col-md-6.text-right
        span
          b
            | created:           
        span #{data.createdAt.toLocaleDateString()} #{data.createdAt.toLocaleTimeString()}
    .row
      if (data.collaborators.constructor === Array && data.collaborators.length > 0)
        .col-md-6
          span
            b collaborators:     
          each collaborator in data.collaborators
            span= collaborator.profile.name || collaborator.email || collaborator.id
    hr
    .row
      .col-md-6
        a.btn.btn-primary(href=`/lists/${data._id}/expenses/add`, role='button') Add new
    .row
      .col-md-6
        | total: #{total}
    .row.justify-content-md-center
      .col-md-12
          table.table.table-hover.table-bordered.table-sm.sortable
            thead
              tr
                th Name
                th Category
                th Amount
                th Date
                th Actions
            each expense in data.expenses
              tr
                td #{expense.name}  
                    if expense.receipt != null && expense.receipt.contentType
                      a(href=`data:${expense.receipt.contentType};base64,${expense.receipt.data.toString('base64')}`, target='_blank')
                        i.fas.fa-image  
                td #{expense.category}
                td #{expense.amount}
                td #{expense.createdAt.toLocaleDateString()} #{expense.createdAt.toLocaleTimeString()}
                td 
                  a.alert-warning(href=`/lists/${data._id}/expenses/${expense._id}/edit`) Edit          
                  if user.roles.indexOf('administrator') > -1    
                    a.alert-danger(href=`/lists/${data._id}/expenses/${expense._id}/delete` ) DROP          
    .row.justify-content-md-center
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-center
          li.page-item
            a.page-link(href=`/lists/${data._id}`) First
          - for (var index = 0; index <= pages; index++)
            li.page-item
              a.page-link(href=`/lists/${data._id}?page=${index}`) #{index}

    .row
      .col-md-6
        a.btn.btn-primary(href=`/lists/${data._id}/expenses/add`, role='button') Add new
      .col-md-6.text-right
        a.btn.btn-primary(href=`/lists/${data._id}/collaborators/add`, role='button') Invite
    


