extends ../../layout

block content
  .page-header
    h3 Your expense lists
    hr
    .row
      .col-lg-12
          table.table.table-hover.table-bordered
            thead
              tr
                th Name
                th Date
                th Operations

            each list, i in expenseLists
              tr
                td 
                  a(href=`/lists/${list._id}`) #{list.name}
                td #{list.createdAt.toLocaleDateString()} #{list.createdAt.toLocaleTimeString()}
                td 
                  a.alert-danger(href=`/lists/${list._id}/delete`) Drop    
                  a.alert-info(href='/analytics/lists/'+ list._id ) Analytics               
                  
            
    .row
      .col-md-6
        a.btn.btn-outline-info(href='/lists/add', role='button') Add new