extends ../../layout

block content
  .page-header
    h3 Add expense list
  form.form-inline(id='user-role-form', method='POST', action='/lists')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value=id)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='comment') Comment
      .col-sm-7
        input.form-control(type='text', name='comment', id='comment')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-primary(type='submit')
          i.fas.fa-folder-plus
