extends layout

block content
  h1 Expense Manager
  p.lead Save, track and analyze your household expenses.
  hr
  if !user
    .jumbotron
      h1.display-4 Stop here
      p.lead
        | To see contents of this page you have to log in or register
      hr.my-4
      p
        | Sorry, cannot help it.
      a.btn.btn-primary.btn-lg(href='/login', role='button') You Bastard!
  else if lists.length > 0
    .row.justify-content-md-center
      each list in lists
        .col-md-5
          h3 Latest #{list.name} expenses
          br
          table.table.table-striped.table-sm.sortable
            thead
              tr
                th(scope='col') Name
                th(scope='col') Category
                th(scope='col') Price
            tbody
              each expense in list.expenses
                tr
                  td #{expense.name}
                  td #{expense.category}
                  td #{expense.amount}

          p
            a.btn.btn-raised(href=`/lists/${list._id}`, role='button') View details »
  else
    .row
      .col-md-6
        | You don't have any expenses lists at the moment. Lets start by    
        a(href=`/expenses/lists/new`) creating new one
