extends layout

block content
  h1 Expense Manager
  p.lead Save, track and analyze your household expenses.
  hr
  if !user
    .jumbotron
      h1.display-4 Stop here
      p.lead
        | To see contents of this page you have to log in or register
      hr.my-4
      p
        | Sorry, cannot help it.
      a.btn.btn-primary.btn-lg(href='/login', role='button') You Bastard!