extends ../../layout

block content
  .page-header
    h3 Users
    hr
    table.table.table-hover.table-bordered.sortable
      thead
        tr
          th Enail
          th Roles
          th Created
          th Modified
          th Actions
      each user, i in users
        tr
          td #{user.email}
          td #{user.roles.join(', ')}
          td #{user.createdAt.toLocaleDateString()} #{user.createdAt.toLocaleTimeString()}
          td #{user.updatedAt.toLocaleDateString()} #{user.updatedAt.toLocaleTimeString()}
          td 
            a(href='/admin/users/'+user._id+'/roles') Roles               
              a(href='/admin/users/'+user._id+'/delete') Drop