extends ../../layout

block content
  .page-header
    h3 Edit roles
  form.form-horizontal(id='user-role-form', method='POST', action='/admin/users/'+user._id+'/roles')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value=id)
    .form-group
      label.col-sm-3.control-label(for='role') Roles (role,role1,role2)
      .col-sm-7
        input.form-control(type='text', name='roles', id='roles', value=roles.join(',') autofocus, required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-codepen
          | update 