@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";

// Footer
// -------------------------

footer {
  color: #fff;
  background-color: $gray-darker;

  a:hover {
    color: #fff;
  }
}

// Typography
// -------------------------

a {
  transition: all .4s cubic-bezier(.24,.45,.46,.92);

  &:hover {
    text-decoration: none;
  }
}

ul,
p {
  font-size: 14px;
}

.text-danger {
  color: $brand-danger;
}

// Dropdowns
// -------------------------

.dropdown-menu > li > a {
  font-weight: 300;
}

// Buttons
// -------------------------

.btn {
  padding: 10px 16px;
  border: 0;
  border-radius: 3px;
  transition: all .4s cubic-bezier(.24,.45,.46,.92);

  &:hover {
    color: #fff;
    background-color: $gray-darker;
  }
}

.btn-social {
  padding: 10px 50px;

  :first-child {
    width: 38px;
    line-height: 38px;
  }
}

.btn-link {

  &:hover {
    color: $gray-darker;
    text-decoration: none;
    background-color: transparent;
  }
}

// Form states and alerts
// -------------------------

.alert {
  color: #17a2b8;
  font-weight: 500;
}

// Navbar
// -------------------------

// Navbar
// -------------------------

.navbar-light {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  opacity: 0.9;
  .navbar-nav {
    > li > a {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.2s linear;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .nav-link {
      color: black;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .navbar-brand {
    color: $navbar-light-color;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-toggler {
    border-bottom-color: rgb(221, 221, 221);
    color: rgb(51,51,51);
  }
  .navbar-toggler:focus {
    background: rgb(221, 221, 221);
  }

  .navbar-toggler:hover {
    background: rgb(221, 221, 221);
  }
}

.navbar-toggler-icon {
  color: rgb(51,51,51);
}

.dropdown-item {
  > a {
    color: black;
    text-decoration: none;
  }
}

.dropdown-menu {
  left: initial;
  right: 0; /* add right with 0 or a low pixel value */
}
